In [34]:
from datetime import datetime
import requests
import pandas as pd
import psycopg2

In [45]:
# Define the constants to connect to the API
ACCESS_KEY = '13824a221d87297fe2e6bc3c8ee20a94'
BASE_URL = 'https://api.aviationstack.com/v1/'

def fetch_flights_data():
    # Fetch flight data from the API
    api_result = requests.get(f'{BASE_URL}flights?access_key={ACCESS_KEY}&limit=100&flight_status=active')

    flights = api_result.json()

    # Access the columns we are interested in
    flights_data = flights['data']

    # Create an empty list to save the records
    collected_data = []

    for flight in flights_data:
        flight_info = {
            'flight_date': flight['flight_date'],
            'flight_status': flight['flight_status'],
            'departure_airport': flight['departure']['airport'],
            'departure_timezone': flight['departure']['timezone'],
            'arrival_airport': flight['arrival']['airport'],
            'arrival_timezone': flight['arrival']['timezone'],
            'arrival_terminal': flight['arrival'].get('terminal', None),  # Handle missing terminal values
            'airline_name': flight['airline']['name'],
            'flight_number': flight['flight']['number']
        }

        collected_data.append(flight_info)

    # Convert the collected data to a DataFrame
    collected_data_to_df = pd.DataFrame(collected_data)

    # Print the number of rows fetched
    number_of_rows = len(collected_data_to_df)
    print(f'Data fetched containing {number_of_rows} rows')

    # Return the collected data DataFrame
    return collected_data_to_df
fetch_flights_data()

Data fetched containing 100 rows

,flight_date,flight_status,departure_airport,departure_timezone,arrival_airport,arrival_timezone,arrival_terminal,airline_name,flight_number
0,2024-10-07,active,Perth International,Australia/Perth,Kuala Lumpur International Airport (klia),Asia/Kuala_Lumpur,1,Oman Air,5559
1,2024-10-07,active,Haneda Airport,Asia/Tokyo,Singapore Changi,Asia/Singapore,1,AlphaSky,7349
2,2024-10-07,active,Auckland International,Pacific/Auckland,Sydney Kingsford Smith Airport,Australia/Sydney,1,Qantas,140
3,2024-10-07,active,Christchurch International,Pacific/Auckland,Melbourne - Tullamarine Airport,Australia/Melbourne,2,Air New Zealand,211
4,2024-10-07,active,Christchurch International,Pacific/Auckland,Melbourne - Tullamarine Airport,Australia/Melbourne,2,United Airlines,6795
...,...,...,...,...,...,...,...,...,...
95,2024-10-07,active,Ngurah Rai International,Asia/Makassar,Seoul (Incheon),Asia/Seoul,2,Garuda Indonesia,9964
96,2024-10-07,active,Zia International,Asia/Dhaka,King Khaled International,Asia/Riyadh,1,Biman Bangladesh Airlines,339
97,2024-10-07,active,Shanghai Pudong International,Asia/Shanghai,Vladivostok,Asia/Vladivostok,A,Rossiya Airlines,6648
98,2024-10-07,active,Tashkent International,Asia/Tashkent,Krasnojarsk,Asia/Krasnoyarsk,1,Rossiya Airlines,6726
99,2024-10-07,active,Roschino,Asia/Yekaterinburg,Krasnojarsk,Asia/Krasnoyarsk,1,Rossiya Airlines,6788

In [47]:
print(collected_data_to_df)

NameError: name 'collected_data_to_df' is not defined

In [43]:

    conn = psycopg2.connect(
        dbname="airflow",
        user="airflow",
        password="airflow",
        host="localhost",
        port="5434"
    )
    cursor = conn.cursor()
    
    # Here we create the table
    cursor.execute("""
    CREATE TABLE IF NOT EXISTS testdata (
        flight_date DATE,
        flight_status VARCHAR,
        departure_airport VARCHAR,
        departure_timezone VARCHAR,
        arrival_airport VARCHAR,
        arrival_timezone VARCHAR,
        arrival_terminal VARCHAR,
        airline_name VARCHAR,
        flight_number TEXT DEFAULT 'UNKNOWN'
    );
    """)

    conn.commit()


    for flight, value in collected_data_to_df.iterrows():
        cursor.execute(
            "INSERT INTO testdata (flight_date, flight_status, departure_airport, departure_timezone, arrival_airport, arrival_timezone, arrival_terminal, airline_name, flight_number) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)",
            (value['flight_date'], value['flight_status'], value['departure_airport'], value['departure_timezone'], value['arrival_airport'], value['arrival_timezone'], value['arrival_terminal'], value['airline_name'], value['flight_number'])
        )
    
    cursor.close()
    conn.close()

    print("Data inserted successfully!")

NameError: name 'collected_data_to_df' is not defined